<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="GenericParsing" version="1.2.1" targetFramework="net452" />
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Framework" version="15.0.26201" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Immutable.10.0" version="15.0.25415" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.10.0" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Shell.Interop.8.0" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.TextManager.Interop.8.0" version="16.7.30328.74" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Utilities" version="15.0.26201" targetFramework="net452" />
</packages>