<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="EntitiesCompras_natu_rpt" connectionString="metadata=res://*/ModelCompras_Natu_Rpt.csdl|res://*/ModelCompras_Natu_Rpt.ssdl|res://*/ModelCompras_Natu_Rpt.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.50.1;initial catalog=DBERP_NAT_PROD;persist security info=True;user id=sa;password=@dmin*2015.12;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesCXP_Rpt_Naturisa" connectionString="metadata=res://*/ModelCXP_report_Naturisa.csdl|res://*/ModelCXP_report_Naturisa.ssdl|res://*/ModelCXP_report_Naturisa.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_NAT_PROD;persist security info=True;user id=sa;password=admin*2016;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="EntitiesInventario_Rpt_Natu" connectionString="metadata=res://*/ModelInventario_Natu.csdl|res://*/ModelInventario_Natu.ssdl|res://*/ModelInventario_Natu.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=DBERP_NAT_PROD;persist security info=True;user id=sa;password=admin*2016;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
